<div th:fragment="purpose" class="bg-white rounded-xl shadow-sm border">
    <div class="px-6 py-4 border-b">
        <div class="flex items-center gap-2">
            <i class="fi fi-rr-memo text-blue-600 text-xl leading-none flex items-center"></i>
            <h2 class="text-xl font-semibold">이용 목적</h2>
        </div>
    </div>

    <div class="px-6 py-6">
        <textarea
                name="memo"
                maxlength="200"
                placeholder="회의실 이용 목적을 입력해주세요"
                class="w-full h-24 resize-none border border-gray-300 rounded-lg p-3 outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"></textarea>
        <p class="text-xs text-gray-400 mt-1">
            최대 200자까지 입력 가능합니다.
        </p>
    </div>
</div>